* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

body {
    background: #0f172a; 
    color: #e2e8f0;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Light Mode */
body.light-mode {
    background: #bacee1;
    color: #0f172a;

}

body.light-mode header {
    background: #bacee1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

body.light-mode nav ul li a {
    color: #334155;
}

body.light-mode nav ul li a:hover {
    color: #2563eb;
}

body.light-mode .navbar .logo {
    color: #0b3f88;
}

body.light-mode .skills span {
    color: #1a1a1a;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    padding: 25px 8%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(15, 23, 42, 0.85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    font-size: 28px;
    font-weight: 600;
    color: #60a5fa;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #cbd5e1;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #60a5fa;
    font-size: 1.02rem;
}

nav i:hover{
    color: #60a5fa;
    cursor:pointer;
    font-size: 1.1rem;

}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.hero-text h1 {
    font-size: 70px;
    font-weight: 700;
}

.hero-text h1 span {
    color: #60a5fa;
}

.hero-text h3 {
    font-size: 24px;
    opacity: 0.8;
}

.hero p {
    max-width: 500px;
    margin: 20px 0 30px;
    opacity: 0.9;
}

.btn {
    display: inline-block;
    background: #60a5fa;
    padding: 12px 28px;
    border-radius: 8px;
    color: #0f172a;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    background: #3b82f6;
    transform: translateY(-2px);
}

.hero-img img {
    width: 300px;
    /* border-radius: 100px; */
    /* box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4); */
}

section {
    padding: 90px 8%;
}

.section-title {
    font-size: 42px;
    margin-bottom: 35px;
    color: #60a5fa;
}

.about-content {
    display: flex;
    gap: 50px;
}

.about-content img {
    width: 320px;
    border-radius: 14px;
    filter: brightness(0.9);
}

.about-text {
    max-width: 550px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
}

.skills {
    background: rgba(255, 255, 255, 0.08);
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.skills:hover {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-5px);
}

.skills img {
    width: 50px;
    height: 50px;
}

.skills span {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.progress {
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    height: 6px;
    border-radius: 10px;
    overflow: hidden;
}

.progress div {
    height: 100%;
    background: #4da3ff;
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
}

.project-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 20px;
    transition: 0.3s;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.project-card img {
    width: 50px;          
    border-radius: 8px;   
}

.project-card:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.15);
}

.project-card h3 {
    margin-bottom: 12px;
    color: #60a5fa;
}

.project-card a {
    color: #93c5fd;
    text-decoration: none;
}

.contact-box {
    max-width: 450px;
    margin: auto;
    background: rgba(255, 255, 255, 0.08);
    padding: 30px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.15);
    color: white;
}

.contact-box button {
    background: #60a5fa;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.contact-box button:hover {
    background: #3b82f6;
}

.footer {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-socials a {
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.footer-socials a i {
    font-size: 22px;
    color: white;
}

.footer-socials a:hover {
    background: white;
    transform: translateY(-5px);
}

.footer-socials a:hover i {
    color: black;
}

footer {
    text-align: center;
    padding: 30px 0;
    color: #94a3b8;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 950px) {
    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
        height: auto;
        padding-top: 140px;
    }
    .hero-img img {
        width: 260px;
    }
    .about-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
